@media (max-width: 1500px) {
  .container {
    padding: 0 40px;
  }
  .banner .row .col-6:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner .banner-data h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1200px) {
  .banner .stats h2 {
    font-size: 34px;
  }
  .banner .stats p {
    font-size: 10px;
  }

  .property .price {
    margin-top: 30px;
  }
  .property .price > span {
    font-size: 24px;
  }
  .property .prop-card .prop-image {
    height: 250px;
  }
  .property .prop-card .prop-image p {
    font-size: 12px;
    padding: 10px 10px;
  }
}

@media (max-width: 992px) {
  .banner .col-6 {
    width: 100%;
  }
  .banner .col-6:first-child {
    margin-bottom: 80px;
  }
  .banner .row .col-6:last-child img {
    padding-left: 0px;
  }

  .property .col-4 {
    width: 50%;
  }
  .property .prop-card .prop-image img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .banner .banner-data h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .stats {
    margin: 20px 0 22px;
  }

  /* == Welcome == */
  .welcome .col-6 {
    width: 100%;
  }
  .welcome h3 {
    margin-bottom: 20px;
  }
  .welcome p {
    padding-left: 0px;
    font-size: 18px;
    line-height: 34px;
  }

  .property .col-4 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 10px 14px;
    font-size: 12px;
  }
  .banner .stats div {
    width: 50%;
    margin-bottom: 20px;
  }
}
